<div class="jumbotron">
  <h1>FoBHG Contact Manager</h1>
  <p>Welcome to the Friends of Blackhand Gorge contacts manager.</p>
  <p><%= link_to "View Contacts", contacts_path, :class => "btn btn-primary btn-lg" %> </p>
</div>
